* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

a {
    color: #48970B;
    font-weight: bold;
    text-decoration: none; }
body { margin-bottom: 40px; }
h1, h2 { font-family: "helvetica neue", helvetica, sans-serif; }
i, p, ul { font-family: "prenton", "helvetica neue", helvetica, sans-serif; }

.wrapper {
    margin: 0 auto;
    width: 990px; }

header {
    background-color: #000;
    background-image: url('../images/ice.jpg');
    background-position: 50% 50%;
    background-size: 100% auto;
    color: #fff;

    padding-top: 40px;
    padding-bottom: 254px; }
header h1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    margin: 0 0 6px; }
header p {
    font-size: 13px;
    text-align: right;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    margin: 10px 0 0; }

h2 {
    font-weight: 200;
    line-height: 1.1;
    text-align: right;

    margin-top: 8px;
    padding-left: 5%; }
.main h2 { color: #333; }
.main p {
    color: #999;
    font-size: 14px;
    line-height: 1.5; }

.features {
    color: #666;
    line-height: 1.5;
    list-style: none;
    padding-left: 0;
    position: relative;
    top: -1px; }
.features li {
    font-size: 12px;
    margin-bottom: 1em;
    padding-left: 46px;
    position: relative; }
.features .image {
    border-radius: 4px;
    box-shadow: 0 1px 2px #666;
    position: absolute;
    left: 0;
    width: 36px; height: 36px; }

.imagery { position: relative; }
.app {
    background-image: url('../images/app.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 348px; height: 292px;

    position: absolute;
    top: 0px; left: 20px;
    z-index: 10; }
.mac {
    background-image: url('../images/mac.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;

    width: 434px; height: 346px;
    position: absolute;
    top: 14px; }

.download {
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;

    margin-top: 120px; margin-bottom: 20px;
    padding: 4px; }
.download span {
    padding-left: 26px;
    position: relative; }
.download span:before {
    content: '';
    background-image: url('../images/apple.svg');
    background-repeat: no-repeat;
    background-size: auto 22px;

    width: 24px; height: 24px;
    position: absolute;
    top: -4px; left: 0px; }
.download .button {
    background: #96e123;
    background: -moz-linear-gradient(top, #96e123 0%, #5dbe0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96e123), color-stop(100%, #5dbe0f));
    background: -webkit-linear-gradient(top, #96e123 0%, #5dbe0f 100%);
    background: -o-linear-gradient(top, #96e123 0%, #5dbe0f 100%);
    background: -ms-linear-gradient(top, #96e123 0%, #5dbe0f 100%);
    background: linear-gradient(to bottom, #96e123 0%, #5dbe0f 100%);
    border-radius: 2px;
    box-shadow: 0 1px 0 #48970B;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);

    display: block;
    padding: 12px; }
.download .button:active {
    background: #5dbe0f;
    background: -moz-linear-gradient(top, #5dbe0f 0%, #96e123 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5dbe0f), color-stop(100%, #96e123));
    background: -webkit-linear-gradient(top, #5dbe0f 0%, #96e123 100%);
    background: -o-linear-gradient(top, #5dbe0f 0%, #96e123 100%);
    background: -ms-linear-gradient(top, #5dbe0f 0%, #96e123 100%);
    background: linear-gradient(to bottom, #5dbe0f 0%, #96e123 100%);
    border-radius: 2px;
    box-shadow: 0 1px 0 #48970B;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);

    display: block;
    padding: 12px; }
.download a { color: #999; }
.download i {
    color: #999;
    font-size: 11px;
    font-style: normal;

    display: block;
    margin: 10px 0 6px; }

.suggestions {
    background: #222222;
    background: -moz-linear-gradient(top, #222222 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #222222 0%, #333333 100%);
    background: -o-linear-gradient(top, #222222 0%, #333333 100%);
    background: -ms-linear-gradient(top, #222222 0%, #333333 100%);
    background: linear-gradient(to bottom, #222222 0%, #333333 100%);
    margin: 20px 0 0;
    padding: 20px 0; }
.suggestions h2, .suggestions strong { color: #fff; }
.suggestions p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5; }
.suggestions .button {
    background: #8260ae;
    background: -moz-linear-gradient(top, #8260ae 0%, #593787 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8260ae), color-stop(100%, #593787));
    background: -webkit-linear-gradient(top, #8260ae 0%, #593787 100%);
    background: -o-linear-gradient(top, #8260ae 0%, #593787 100%);
    background: -ms-linear-gradient(top, #8260ae 0%, #593787 100%);
    background: linear-gradient(to bottom, #8260ae 0%, #593787 100%);
    border-radius: 2px;
    box-shadow: 0 1px 2px #111, inset 0 1px 0 #9071B7;
    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

    padding: 5px 12px 6px;
    position: relative;
    top: -1px; }
.suggestions .button:active {
    background: #593787;
    background: -moz-linear-gradient(top, #593787 0%, #8260ae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #593787), color-stop(100%, #8260ae));
    background: -webkit-linear-gradient(top, #593787 0%, #8260ae 100%);
    background: -o-linear-gradient(top, #593787 0%, #8260ae 100%);
    background: -ms-linear-gradient(top, #593787 0%, #8260ae 100%);
    background: linear-gradient(to bottom, #593787 0%, #8260ae 100%); }
.suggestions .button.browse {
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #dedede 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #dedede 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%, #dedede 100%);
    box-shadow: 0 1px 2px #111, inset 0 1px 0 #fff;
    color: #6441A5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
.suggestions .button.browse:active {
    background: #dedede;
    background: -moz-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #f3f3f3));
    background: -webkit-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
    background: -o-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #dedede 0%, #f3f3f3 100%); }

.suggestions hr {
    border: 0;
    background: #666;
    height: 1px; }

.recommendations {
    list-style: none;
    margin-top: 11px;
    padding-left: 0; }
.recommendations li {
    margin-bottom: 2em;
    padding-left: 56px;
    position: relative; }
.recommendations li:last-child { margin-bottom: 0; }
.recommendations .image {
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    width: 46px; height: 46px; }
.recommendations h3 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

    margin-bottom: 0em;
    margin-top: 0; }
.recommendations p {
    font-size: 12px;
    margin-top: 0.5em; }
.recommendations .button { float: right; }

.footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 20px 0; }
footer p { text-align: right; }
footer .us {
    color: #666;
    font-size: 12px;
    margin: 0; }
footer .them {
    color: #999;
    font-size: 11px;
    margin-top: 6px; }
.twitter-follow-button,
.twitter-share-button,
.fb-like {
    display: inline-block;
    float: none;
    margin-bottom: 3px;
    text-align: left; }

/* Retina Imagery */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .app {
        background-image: url('../images/app@2x.png');
        background-size: 348px auto;
    }
    .mac {
        background-image: url('../images/mac@2x.png');
        background-size: 430px auto;
    }
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; }
.clearfix:after { clear: both; }
